 .btn{
    padding: 6px 12px;
    margin: 5px 2px;
    border: none;
    border-radius: 5px;
    color: white;
  }
  .btn1{
    background-color: red;
  }
  .btn2{
    background-color: yellow;
  }
  .btn3{
    background-color: blue;
  }
  .btn4{
    background-color: black;
  }
  .btn5{
    background-color: green;
  }
  