@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-color: #CD5C5C;
    text-align: center;
}


.quizebox {
    width: 500px;
    height: 360px;
    background-color: white;
    padding: 0.5rem 1rem;
    text-align: center;
}

.quizebox h2 {
    background-color: white;
    color: #CD5C5C;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
    margin: 0;
    padding-top: 0.3rem;
}


.rigntAndwrong {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
}

.rigntAndwrong span {
    padding-right: 5px;
}

.icon {
    font-size: medium;
    padding: 0 5px;
}

.Ricon {
    color: green;
}

.Wicon {
    color: red;
}

.question {
    font-size: 25px;
    margin: 0.5rem 0;
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
}

.optbox {
    text-align: left;
    padding-left: 2.5rem;
    margin-top: 1rem;
}

.options {
    margin: 0.5rem 0;
}

.options label {
    font-size: 15px;
    display: flex;
    height: 25px;
    align-items: center;
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;

}

.options label input {
    width: 17px;
    height: 17px;
    border: none;
    border-radius: none;
    margin-right: 7px;

}

.optinput {
    accent-color: #CD5C5C;
}

.Que-number {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: small;
}

.btn {
    padding: 7px 25px;
    border: none;
    outline: none;
    background-color: #FA8072;
    font-size: small;
    letter-spacing: 1px;
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
    color: white;
}

.btn:active {
    background-color: #CD5C5C;
}

.resultboard {
    width: 500px;
    height: 330px;
    position: absolute;
}

.resultboard h1 {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
    color: #CD5C5C;
}

.resultboard p {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.resultboard .R-icon {
    font-size: x-large;
    padding-right: 10px;
}

.resetBtn {
    padding: 9px 25px;
    border: none;
    outline: none;
    background-color: #FA8072;
    font-size: small;
    letter-spacing: 1px;
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
    color: white;
}

.resetBtn:active {
    background-color: #CD5C5C;
}